@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed&display=swap');

body {
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  background-color: #5C7AEA;
}

.title {
  margin: 2% 0 4% 0;
  color: white;
  font-size: 2.5rem;
  letter-spacing: 2px;
  text-align: center;
  display: block;
}


.container {
  display: flex;
  justify-content: space-evenly;
}


@media (max-width: 994px) {
    .title {
      margin: 10% 5%;
    }

    .container {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
}
